.home-container{
    padding: 0 50px;
}

.home-content{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 20%;
}
.home-description{
    width: 400px;
}
.home-description .h1-match{
    margin-top: 20px;
    font-size: 60px;
}
.home-description button{
    margin-top: 20px;
    padding: 10px 30px;
    background-color: red;
     border: none;
     color: white;
     transition: 0.3s ease-in-out;
}
.home-description button:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}
